@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,300&display=swap');

:root {
  --primary-grey: rgb(102, 102, 97);
  --primary-orange: rgb(241, 162, 59);
  --primary-white: rgb(255, 255, 255);
  --primary-red: rgb(247, 17, 17);
  --primary-hover-red: rgb(241, 136, 136);
}

body {
  font-family: 'Exo', sans-serif !important;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}
 
/*------------------------- NAVBAR ----------------------------*/

/* MENU LINKS */

.name-link {
  text-decoration: none;
}

nav a.nav-link, .name-link {
  font-size: 0.8rem;  
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li  {
  text-transform: uppercase;
}

.navbar-nav > li > a, .name-link {
  margin-right: 0.6rem;
  margin-left: 0.6rem;
  color: var(--primary-grey) !important;
  font-weight: bold;
  border-bottom: 0.1875rem solid transparent;
}

.navbar-nav > li > a:hover {
  border-bottom-color: var(--primary-grey);  
}


/*------------------------- HEADER ----------------------------*/

.header-wraper {
  position: relative;
  background: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.main-info h1 {
  color: var(--primary-white);
  text-transform: uppercase;

}

/* TYPED TEXT */
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

/* HEADER MAIN OFFER BUTTON */
.btn-main-offer {
  border: 1px solid var(--primary-white);
  text-transform: uppercase;
  border-radius: 5%;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.contact-links {
margin-top: 5rem;
}
.contact-links a {
  margin: 1rem;
}

.github-logo {
  color: white;
  background-color: rgb(238, 236, 236);
  max-width: 3rem;
  border-radius: 5px;
  margin: 1rem;
}

.linkedin-logo {
  width: 3rem;
  background-color: rgb(238, 236, 236);
  border-radius: 5px;
  margin: 1rem;
}

/*------------------------- ABOUT ----------------------------*/

.about-wrapper {
  padding: 6rem 0;
}

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img {
  width: 16rem;
}

.about-heading {
  color: var(--primary-grey);
  text-transform: uppercase;
} 

@media(max-width: 468px) {
  .about-img {
    width: 10rem;
  }
}

/*------------------------- PROJECTS ----------------------------*/

.portfolio-wrapper {
  padding: 5rem 0; 
  background: var(--primary-grey);  
}

.image-box-wrapper {  
  max-width: 100%; 
}

.portfolio-images { 
  width: 15rem;
  margin: 1rem; 
}

/* OVERFLOW */

.portfolio-image-box {
  position: relative;
}

.overflow {
  position: absolute;
  opacity: 0;
  background: var(--primary-grey);
  width: 15rem;
  height: 10rem; 
  margin: 1rem; 
  top: 0; 
  cursor: pointer;
}

.portfolio-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.search-icon {
  position: absolute;
  opacity: 0;
  margin-left: -9rem;
  margin-top: 4.5rem;
  color: var(--primary-red);
  font-size: 2rem;
}

.portfolio-image-box:hover .search-icon {
  opacity: 80%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/* OVERFLOW BOX */
.popupbox-wrapper {
  display: flexbox;  
  margin-top: 60px;
  padding: 10px;  
}

.portfolio-popupbox-image {
  justify-self: center;
  align-self: center;
  width: 80%;  
  place-content: center;
}

.popup-text {
  font-size: 13px;
}

.project-link {
  font-size: 13px;
  cursor: pointer;
  color: var(--primary-grey);
}

.project-link:hover {
  color: var(--primary-red);
}

/*------------------------- FOOTER ----------------------------*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 3rem;     
}

/*------------------------- SKILLS ----------------------------*/


.skills {
  padding: 5rem 0; 
  background-color: lightgray;
  width: 100wv;
}

.skills-items-wrapper { 
   display:flex;
   flex-wrap: wrap;
   justify-content: center
}

.skills-item {
  display: inline-block;
  width: 15rem;
  padding: 0.5rem;
  background-color: darkgray;   
  border: solid 1px grey;
  border-radius: 8px;  
  margin: 1rem;  
}

.skills-item > div {  
  text-align: center;
  justify-self: center;  
}
