@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,300&display=swap');

:root {
  --primare-grey: rgb(78, 78, 74);
  --primare-orange: rgb(241, 162, 59);
  --primare-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: 'Exo', sans-serif;
  }

/*----------------------------------- NAVBAR --------------------------------*/

.picture {
  width: 6rem;
  border-radius: 50%;
}

/* MENU LINKS */
nav a.nav-link {
  font-size: 0.8rem;  
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primare-grey) !important;
  border-bottom: 0.1875rem solid transparent;
}

.navbar-nav > li > a:hover {
  border-bottom-color: green;  
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}


